* {
    box-sizing: border-box;
}

.jumbotron {
    padding-top: 7rem;
    background-color: #e2edff;
    height: 100vh;
    position: relative;
}

#waves{
    position: absolute;
    bottom: 0;
    left: 0;
}

section{
    padding-top: 5rem;
}